<form>
    <div class="form-group">
        <label for="address">Enter address : </label>
        <input type="text"
               class="form-control"
               id="address"
               name="address"
               [(ngModel)]="address"
               placeholder="Enter address">
    </div>
    <br/>
    <button type="button"
            (click)="getDeliveryAreas()"
            class="btn btn-primary"
            style="width: 142px;"
    >Submit
    </button>
</form>
<br/>
<br/>
<hr/>

<div id="map" class="map"></div>

<br/>
<br/>

<hr/>
<div *ngIf="orgCoordinates.length>0">
    <strong>Co-ordinates Coming from</strong>
    <p>LINK : https://drive.google.com/file/d/1UQWDO-ObrcOE_IIjxrk3JBA-vv1gHMy4/view </p>

    {{orgCoordinates|json}}
</div>

