<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
    <div style="text-align:center">
        <h1>
            {{ title }}
        </h1>
        <h3 style="margin-top: -20px;">{{subtitle}}</h3>
        <p>Note : Map will load after successful request to the sever</p>
        <p style="color: red">Note : Due to "licence key limit exceed" Issue i am not able to work on Google map API <br/>
            Openlayer Map is having issue with coordinates while drawing polygons.</p>
    </div>
    <router-outlet></router-outlet>
</div>